celerydb.sqlite
console.log
tmp/*

# Packages
*.pyc
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

pip-log.txt
nosetests.xml
Session.vim

.*
!.gitignore
!.buildpacks
!.state
!.releaseignore
*~

!.meteor
screen/.meteor/local

.chef-solo
!.env
venv/

Cheffile.lock
Berksfile.lock
Gemfile.lock

fabfile_local.py

!.kitchen.yml
!.kitchen.*.yml

atlassian-ide-plugin.xml
src/

!.drone.yml
!.dockerignore


# Vagrant
vagrant.yml
